/*
#4169e1
#1E90FF
#00BFFF
#87CEFA
#ADD8E6
*/

:root{
    --cor0: #4169e1;
    --cor1: #1E90FF;
    --cor2: #00BFFF;
    --cor3: #87CEFA;
    --cor4: #ADD8E6;
}

#container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;

}
body {
    background-color: gray;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}
#header {
    height: 200px;
    text-align: center;
    width: 100%;
    background-color: rgb(206, 236, 255);
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor0));
    font-family: "Open Sans", sans-serif;
}
#nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    background-color: #4169e1;
}

#nav a:hover{
    background-color: #87CEFA;

}
#nav {
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
}

#content{
    padding: 2%;
}
#nav .active {
    background-color:blue ;
}
.logo {
    float: left;
    margin: 20px;

}
#logogeral {
    background-color: white;
}