/*
#4169e1
#1E90FF
#00BFFF
#87CEFA
#ADD8E6
*/

:root{
    --cor0: #4169e1;
    --cor1: #1E90FF;
    --cor2: #00BFFF;
    --cor3: #87CEFA;
    --cor4: #ADD8E6;
}

#container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;

}
body {
    background-color: gray;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}
#header{
    height: 150px;
    text-align: center;
    width: 100%;
    background-color: rgb(206, 236, 255);
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor0));
    font-family: "Montserrat", sans-serif;
}

#header h1{
    padding: 50px;
    font-family: "Montserrat", sans-serif;
}

#nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 25px;
    background-color: #0080ff;
}

#nav a:hover{
    background-color: #87CEFA;

}
#nav {
    text-align: center;
    font-family: "Protest Guerrilla", sans-serif;
  
}

#content{
    padding: 2%;
}
#nav .active {
    background-color:blue ;
}
.logo {
    float: left;
    margin: 20px;
    color: white;
}
#imac {
    margin-left: 17%;
}
#garagem {
    margin-left: 25%;
}
#iphone {
    margin-left: 40%;
}

#footer{
    padding: 5%;
    text-align: center;
    background-color: #0080ff;
}
